body{
	background-image: url(/bbb.jpeg);
	background-size: 600px 400px;
	/*width: 1200px;*/
	margin: auto; 
}
header{
	overflow: hidden;
}

header h1{
	float: left;
	background-image: url(/cc.png);
	background-size: 450px 78px;
	background-repeat: no-repeat;
	width: 427px;
	height: 100px;	
	margin-bottom: 0px;
	color: #29a3a3;
	text-indent: -9999px;
	position: relative;
	right: 40px;
	margin-left: 80px;
}
.bar{
	border-bottom: 1px solid black;
}

nav{
	font-family: sans-serif;
	float: right;
	margin-right: 80px;
}
nav li{
	display: inline-block;
	padding-left: 18px;	
	font-size: 16px;
	letter-spacing: 2px
}
nav a{
	text-decoration: none;
	color: black;

}
nav a:hover{
	/*background-color: rgba(0,0,0, 0.3);*/
	color:black;
	/*color: #29a3a3;*/
	text-shadow: 2px 5px 3px #666;
}
nav ul{
	margin-top: 55px;
	padding-left: 0px;
}

.bg-image {
	margin: auto;
  	background-image: url(/aa.jpg);
  	width: 1200px;
  	height: 800px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-top: 30px;
  	margin-bottom: 20px;
}

.bg-text {
  	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0, 0.4); 
  	color: white;
  	position: absolute;
 	top: 90%;
  	left: 34%;
 	transform: translate(-50%, -50%);
 	text-align: center;
 	font-family: sans-serif;
 	letter-spacing: 4px;
 	text-transform: uppercase;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




.logo{
	text-align: center;
	position: relative;
	bottom: 20px;
}
.qut{
	text-align: center;
	background-image: url(/ab1.jpg);
	background-size: 1200px 750px;
	height: 300px;
	position: relative;
	bottom: 70px;
}
.qut p{
	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0, 0.8); 
  	color: white;
  	position: relative;
 	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	padding-top: 10px;
 	padding-bottom: 10px;
 	font-size: 22px;
 	font-family: sans-serif;
 	text-transform: uppercase;
 	font-weight: lighter;
 	letter-spacing: 2px;
}

.para{
	margin-left: 100px;
	margin-right: 100px;
}

.para p{
	color: #333;
	font-family: sans-serif;
	line-height: 1.9;
	letter-spacing: 0.04em;
}
.para h2{
	text-decoration: underline;
	font-family: sans-serif;
}

#hand_tool{
	width: 500px;
	float: right;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


footer{
	text-align: center;
	/*border-top: 3px solid #d1d1d1;*/
	border-top: 1px solid black;
}
footer h2{
	margin-top: 10px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.select{
}
.homes{
	background-image: url(/home.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 60%;
}

.office{
	background-image: url(/office.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 60%;
}

.school{
	background-image: url(/school.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 40%;
}

.hospital{
	background-image: url(/hospital.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 60%;
}

.restarunt{
	background-image: url(/restarunt.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 60%;
}

.mall1{
	background-image: url(/mall1.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 30%;
}

.mall2{
	background-image: url(/mall2.jpg);
	background-size: 100% 800px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-position: 50% 60%;
	margin-bottom: 40px;
}

.select a{
	text-decoration: none;
	color: white;
	position: relative;
	top:130px;
	font-family: sans-serif;
  	padding:5px;
  	text-transform: uppercase;
  	letter-spacing: 6px;
  	font-size: 30px;
	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0, 0.6);
}
/*.select p:hover{
	background-color: rgba(0,0,0, 0.8);
}*/
.select a:hover{
	color: #80ffd4;
	background-color: rgba(0,0,0, 0.8);
}/*
.select p{
	position: relative;
	top:200px;
	font-family: sans-serif;
  	padding:5px;
  	text-transform: uppercase;
  	letter-spacing: 6px;
  	font-size: 30px;
	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0, 0.6); 
}
*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.show{
	margin-left: 80px;
}

#one{
	font-family: sans-serif;
	letter-spacing: 3px;
	text-decoration: underline;
	text-transform: uppercase;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#hm{
	font-family: sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-left: 80px;
}

.nav_home ul{
	font-family: sans-serif;
	margin-top: 30px;
	text-align: center;
}
.nav_home li{
	display: inline-block;
	padding-left: 18px;	
	padding-right: 18px;
	padding-top: 3px;
	font-size: 16px;
	letter-spacing: 2px;
}
.nav_home a{
	text-decoration: none;
	color: #888;

}
.nav_home a:hover{
	/*background-color: rgba(0,0,0, 0.3);*/
	color:black;
	/*color: #29a3a3;*/
}
